<div>
    <h1>Random Beer</h1>
    {{#each randomBeer}}
    <img src={{image_url}} alt={{name}}>
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{food.pairing}}</p>
    <p>{{brewer.tips}}</p>
    {{> beerpartial}}
    {{/each}}
</div>